.revealer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  perspective: 1200px;
  
  &.hide {
    display: none;
  }
  
  h1 {
    $wid: 550px;
    position: absolute;
    z-index: 10;
    top: 20px;
    left: 50%;
    width: $wid;
    margin-left: -$wid / 2; 
    font-size: 6rem;
    letter-spacing: 2px;
    line-height: 1;
  }
  
  h2 {
    $wid: 475px;
    position: absolute;
    z-index: 2;
    top: 160px;
    left: 50%;
    width: $wid;
    margin-left: -$wid / 2;
    letter-spacing: 5px;
    line-height: 1;
  }
  
  .revealer--button {
    $wid: 180px;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    right: 0;
    width: $wid;
    margin-left: -$wid / 2;
    
    span.label {
      
    }
    
    img {
      position: absolute;
      top: 6px;
      right: 10px;
    }
  }
  
  .panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    @media screen and (orientation: portrait) {
      width: 200%;
    }
    
    .revealer--quadrant {
      position: absolute;
      width: 50%;
      height: 50%;
      overflow: hidden;
      perspective: 1200px;
      
      &:nth-child(2),
      &:nth-child(4) {
        left: 50%;
        
        .bg-img img {
          left: -100%;
        }
      }
      &:nth-child(3),
      &:nth-child(4) {
        top: 50%;
  
        .bg-img img {
          top: -100%;
        }
      }
      
      .bg-img {
        position: absolute;
        overflow: hidden;
        width: 100%;
        height: 100%;
        //transition: -webkit-transform 1s ease-in-out;
        
        img {
          position: absolute;
          width: 200%;
          height: auto;
        }
      }
    }
    
  }
  
}