
.touch .controls {
  display: none;
}
.sudoku-game {
  height: 100%;
  transition: all 1.4s ease-out;
  
  &.zoomed {
    transform: scale(1.2);
  }
  
  header {
    margin-bottom: 30px;
    padding: 20px;
    background: rgba(0,0,0,0.2);
    
    h1 {
      margin: 0;
      padding: 0;
      line-height: 0.7;
      
      @media only screen and (max-width: 460px) {
        font-size: 3rem;
      }

      @media only screen and (max-width: 360px) {
        font-size: 2rem;
      }
      
      @media only screen and (max-width: 660px) {
        margin-top: 0px;
        float: none;
        margin-bottom: 20px;
        text-align: center;
      }
    }
    
    .subnav {
      @media only screen and (max-width: 660px) {
        float: none;
        width: 220px;
        margin: 0 auto;
      }
    }
    
    .button {
      margin: 0 20px 0 0;
      
      &:last-of-type {
        margin-right: 0;
      }
    }
    
    .info-area {
      margin-right: 30px;
      padding: 15px 25px;
      border-radius: 10px;
      box-shadow: inset 0px 0px 6px rgba(0,0,0,0.6);
      background-color: rgba(0,0,0,0.1);
      color: #DDD;
      transition: all 0.5s ease-in-out;
      
      @media only screen and (max-width: 900px) {
        float: none;
        margin: 0 0 20px 0;
      }
      
      p {
        margin: 0;
      }
    }
  }
  
  input[type="text"] {
    border: 1px solid #666;
    width: 100%;
    height: 30px;
  }
  
  .board-font {
    text-align: center;
    font-size: 2rem;
    font-family: $font-omnes;
    font-weight: 200;
    
    @media only screen and (max-width: 675px) {
      font-size: 1.5rem;
    }
    @media only screen and (max-width: 500px) {
      font-size: 1rem;
    }
  }

  table {
    $border: 10px solid rgba(0,0,0,0.3);
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    
    tr {
      perspective: 1200px;
    }
    
    td {
      position: relative;
      overflow: hidden;
      transition: all 1.4s cubic-bezier(0,.57,.4,1.3);
      
      &.t {
        border-top: $border;
      }
      &.r {
        border-right: $border;
      }
      &.b {
        border-bottom: $border;
      }
      &.l {
        border-left: $border;
      }

      .board-cell--hint {
        position: absolute;
        z-index: 1;
        top: 2px;
        right: 2px;
        text-indent: -10000px;
        width: 20px;
        height: 20px;
        
        &.with-check {
          background-image: url(/images/iconmonstr-check-mark-3-icon.svg);
          background-size: 20px 20px;
        }
      }

      .board-cell--back {
        position: absolute;
        z-index: 2;
        top: 1px;
        left: 1px;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        padding-top: 20%;
        background: #FFFFFF;
        color: #000000;
        box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
        perspective: 1200px;
        transform: translateY(-100%);

        @media only screen and (max-width:840px) {
          padding-top: 14%;
        }
        @media only screen and (max-width:720px) {
          padding-top: 6%;
        }
        @media only screen and (max-width:600px) {
          padding-top: 5%;
        }
      }
    }
  }

  .controls {
    width: 170px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #AAA;
    margin-left: 20px;
    
    @media only screen and (max-width: 1250px) {
      display: none;
    }
    
    h5 {
      font-size: 0.9rem;
      line-height: 1;
      margin: 0 0 10px 0;
      text-align: center;
      font-weight: 400;
      color: #AAA;
    }
    
    .leftright {
      margin: 0 auto;
      width: 50%;
    }
    
    .keyboard-arrow {
      background: url(/images/iconmonstr-arrow-37-icon.svg) center center no-repeat;
      background-color: rgba(255,255,255,0.5);
      background-size: 50%;
      width: 20px;
      height: 20px;
      margin-bottom: 10px;
      padding: 5px;
      border-radius: 3px;
      
      &.left {
        transform: rotate(180deg);
      }
      &.right {
      }
      &.up {
        margin-left: auto;
        margin-right: auto;
        transform: rotate(-90deg);
      }
      &.down {
        margin-left: auto;
        margin-right: auto;
        transform: rotate(90deg);
      }
    }
  }
}