@import "variables";
@import "revealer";
@import "sudoku";

*, *:after, *:before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden; // no scrolling!
  background: url('/images/tweed.png') top left repeat;
  @media screen and (min-device-pixel-ratio: 2) {
    background-image: url('/images/tweed@2x.png');
  }
  font-family: "museo-sans",sans-serif;
  font-weight: 300;
  color: $color-font;
  perspective: 1200px;
}

h1, h2, h3, h4, h5 {
  font-family: $font-omnes;
  font-weight: 100;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.8rem;
}

a {
  color: $color-green;
  text-decoration: none;
}

.hide {
  display: none;
}

.invisible {
  opacity: 0;
}

.centered-text {
  text-align: center;
}

.row {
  width: 70%;
  margin: 0 auto;
}

.button {
  padding: 10px 20px;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  text-shadow: 1px 1px 0px #FAFAFA;
  font-family: $font-omnes;
  font-weight: 500;
  letter-spacing: 3px;
  border: 3px solid $color-green;
  border-radius: 10px;
  background-color: #FFFFFF;
  perspective: 1200px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
