/* line 1, ../scss/_revealer.scss */
.revealer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1200px;
  perspective: 1200px;
}
/* line 10, ../scss/_revealer.scss */
.revealer.hide {
  display: none;
}
/* line 14, ../scss/_revealer.scss */
.revealer h1 {
  position: absolute;
  z-index: 10;
  top: 20px;
  left: 50%;
  width: 550px;
  margin-left: -275px;
  font-size: 6rem;
  letter-spacing: 2px;
  line-height: 1;
}
/* line 27, ../scss/_revealer.scss */
.revealer h2 {
  position: absolute;
  z-index: 2;
  top: 160px;
  left: 50%;
  width: 475px;
  margin-left: -237.5px;
  letter-spacing: 5px;
  line-height: 1;
}
/* line 39, ../scss/_revealer.scss */
.revealer .revealer--button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  right: 0;
  width: 180px;
  margin-left: -90px;
}
/* line 53, ../scss/_revealer.scss */
.revealer .revealer--button img {
  position: absolute;
  top: 6px;
  right: 10px;
}
/* line 60, ../scss/_revealer.scss */
.revealer .panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (orientation: portrait) {
  /* line 60, ../scss/_revealer.scss */
  .revealer .panel {
    width: 200%;
  }
}
/* line 71, ../scss/_revealer.scss */
.revealer .panel .revealer--quadrant {
  position: absolute;
  width: 50%;
  height: 50%;
  overflow: hidden;
  -webkit-perspective: 1200px;
  perspective: 1200px;
}
/* line 79, ../scss/_revealer.scss */
.revealer .panel .revealer--quadrant:nth-child(2), .revealer .panel .revealer--quadrant:nth-child(4) {
  left: 50%;
}
/* line 82, ../scss/_revealer.scss */
.revealer .panel .revealer--quadrant:nth-child(2) .bg-img img, .revealer .panel .revealer--quadrant:nth-child(4) .bg-img img {
  left: -100%;
}
/* line 87, ../scss/_revealer.scss */
.revealer .panel .revealer--quadrant:nth-child(3), .revealer .panel .revealer--quadrant:nth-child(4) {
  top: 50%;
}
/* line 90, ../scss/_revealer.scss */
.revealer .panel .revealer--quadrant:nth-child(3) .bg-img img, .revealer .panel .revealer--quadrant:nth-child(4) .bg-img img {
  top: -100%;
}
/* line 95, ../scss/_revealer.scss */
.revealer .panel .revealer--quadrant .bg-img {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
/* line 102, ../scss/_revealer.scss */
.revealer .panel .revealer--quadrant .bg-img img {
  position: absolute;
  width: 200%;
  height: auto;
}

/* line 2, ../scss/_sudoku.scss */
.touch .controls {
  display: none;
}

/* line 5, ../scss/_sudoku.scss */
.sudoku-game {
  height: 100%;
  transition: all 1.4s ease-out;
}
/* line 9, ../scss/_sudoku.scss */
.sudoku-game.zoomed {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
/* line 13, ../scss/_sudoku.scss */
.sudoku-game header {
  margin-bottom: 30px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.2);
}
/* line 18, ../scss/_sudoku.scss */
.sudoku-game header h1 {
  margin: 0;
  padding: 0;
  line-height: 0.7;
}
@media only screen and (max-width: 460px) {
  /* line 18, ../scss/_sudoku.scss */
  .sudoku-game header h1 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 360px) {
  /* line 18, ../scss/_sudoku.scss */
  .sudoku-game header h1 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 660px) {
  /* line 18, ../scss/_sudoku.scss */
  .sudoku-game header h1 {
    margin-top: 0px;
    float: none;
    margin-bottom: 20px;
    text-align: center;
  }
}
@media only screen and (max-width: 660px) {
  /* line 39, ../scss/_sudoku.scss */
  .sudoku-game header .subnav {
    float: none;
    width: 220px;
    margin: 0 auto;
  }
}
/* line 47, ../scss/_sudoku.scss */
.sudoku-game header .button {
  margin: 0 20px 0 0;
}
/* line 50, ../scss/_sudoku.scss */
.sudoku-game header .button:last-of-type {
  margin-right: 0;
}
/* line 55, ../scss/_sudoku.scss */
.sudoku-game header .info-area {
  margin-right: 30px;
  padding: 15px 25px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0.1);
  color: #DDD;
  transition: all 0.5s ease-in-out;
}
@media only screen and (max-width: 900px) {
  /* line 55, ../scss/_sudoku.scss */
  .sudoku-game header .info-area {
    float: none;
    margin: 0 0 20px 0;
  }
}
/* line 69, ../scss/_sudoku.scss */
.sudoku-game header .info-area p {
  margin: 0;
}
/* line 75, ../scss/_sudoku.scss */
.sudoku-game input[type="text"] {
  border: 1px solid #666;
  width: 100%;
  height: 30px;
}
/* line 81, ../scss/_sudoku.scss */
.sudoku-game .board-font {
  text-align: center;
  font-size: 2rem;
  font-family: "omnes-pro", sans-serif;
  font-weight: 200;
}
@media only screen and (max-width: 675px) {
  /* line 81, ../scss/_sudoku.scss */
  .sudoku-game .board-font {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 500px) {
  /* line 81, ../scss/_sudoku.scss */
  .sudoku-game .board-font {
    font-size: 1rem;
  }
}
/* line 95, ../scss/_sudoku.scss */
.sudoku-game table {
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}
/* line 101, ../scss/_sudoku.scss */
.sudoku-game table tr {
  -webkit-perspective: 1200px;
  perspective: 1200px;
}
/* line 105, ../scss/_sudoku.scss */
.sudoku-game table td {
  position: relative;
  overflow: hidden;
  transition: all 1.4s cubic-bezier(0, 0.57, 0.4, 1.3);
}
/* line 110, ../scss/_sudoku.scss */
.sudoku-game table td.t {
  border-top: 10px solid rgba(0, 0, 0, 0.3);
}
/* line 113, ../scss/_sudoku.scss */
.sudoku-game table td.r {
  border-right: 10px solid rgba(0, 0, 0, 0.3);
}
/* line 116, ../scss/_sudoku.scss */
.sudoku-game table td.b {
  border-bottom: 10px solid rgba(0, 0, 0, 0.3);
}
/* line 119, ../scss/_sudoku.scss */
.sudoku-game table td.l {
  border-left: 10px solid rgba(0, 0, 0, 0.3);
}
/* line 123, ../scss/_sudoku.scss */
.sudoku-game table td .board-cell--hint {
  position: absolute;
  z-index: 1;
  top: 2px;
  right: 2px;
  text-indent: -10000px;
  width: 20px;
  height: 20px;
}
/* line 132, ../scss/_sudoku.scss */
.sudoku-game table td .board-cell--hint.with-check {
  background-image: url(/images/iconmonstr-check-mark-3-icon.svg);
  background-size: 20px 20px;
}
/* line 138, ../scss/_sudoku.scss */
.sudoku-game table td .board-cell--back {
  position: absolute;
  z-index: 2;
  top: 1px;
  left: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  padding-top: 20%;
  background: #FFFFFF;
  color: #000000;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  -webkit-perspective: 1200px;
  perspective: 1200px;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
@media only screen and (max-width: 840px) {
  /* line 138, ../scss/_sudoku.scss */
  .sudoku-game table td .board-cell--back {
    padding-top: 14%;
  }
}
@media only screen and (max-width: 720px) {
  /* line 138, ../scss/_sudoku.scss */
  .sudoku-game table td .board-cell--back {
    padding-top: 6%;
  }
}
@media only screen and (max-width: 600px) {
  /* line 138, ../scss/_sudoku.scss */
  .sudoku-game table td .board-cell--back {
    padding-top: 5%;
  }
}
/* line 165, ../scss/_sudoku.scss */
.sudoku-game .controls {
  width: 170px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #AAA;
  margin-left: 20px;
}
@media only screen and (max-width: 1250px) {
  /* line 165, ../scss/_sudoku.scss */
  .sudoku-game .controls {
    display: none;
  }
}
/* line 176, ../scss/_sudoku.scss */
.sudoku-game .controls h5 {
  font-size: 0.9rem;
  line-height: 1;
  margin: 0 0 10px 0;
  text-align: center;
  font-weight: 400;
  color: #AAA;
}
/* line 185, ../scss/_sudoku.scss */
.sudoku-game .controls .leftright {
  margin: 0 auto;
  width: 50%;
}
/* line 190, ../scss/_sudoku.scss */
.sudoku-game .controls .keyboard-arrow {
  background: url(/images/iconmonstr-arrow-37-icon.svg) center center no-repeat;
  background-color: rgba(255, 255, 255, 0.5);
  background-size: 50%;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 3px;
}
/* line 200, ../scss/_sudoku.scss */
.sudoku-game .controls .keyboard-arrow.left {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 205, ../scss/_sudoku.scss */
.sudoku-game .controls .keyboard-arrow.up {
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
/* line 210, ../scss/_sudoku.scss */
.sudoku-game .controls .keyboard-arrow.down {
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 5, ../scss/main.scss */
*, *:after, *:before {
  box-sizing: border-box;
}

/* line 9, ../scss/main.scss */
html, body {
  height: 100%;
}

/* line 13, ../scss/main.scss */
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: url("/images/tweed.png") top left repeat;
  font-family: "museo-sans",sans-serif;
  font-weight: 300;
  color: #fafafa;
  -webkit-perspective: 1200px;
  perspective: 1200px;
}
@media screen and (min-device-pixel-ratio: 2) {
  /* line 13, ../scss/main.scss */
  body {
    background-image: url("/images/tweed@2x.png");
  }
}

/* line 27, ../scss/main.scss */
h1, h2, h3, h4, h5 {
  font-family: "omnes-pro", sans-serif;
  font-weight: 100;
}

/* line 32, ../scss/main.scss */
h1 {
  font-size: 4rem;
}

/* line 35, ../scss/main.scss */
h2 {
  font-size: 3rem;
}

/* line 38, ../scss/main.scss */
h3 {
  font-size: 2.5rem;
}

/* line 41, ../scss/main.scss */
h4 {
  font-size: 2rem;
}

/* line 44, ../scss/main.scss */
h5 {
  font-size: 1.8rem;
}

/* line 48, ../scss/main.scss */
a {
  color: #33aa00;
  text-decoration: none;
}

/* line 53, ../scss/main.scss */
.hide {
  display: none;
}

/* line 57, ../scss/main.scss */
.invisible {
  opacity: 0;
}

/* line 61, ../scss/main.scss */
.centered-text {
  text-align: center;
}

/* line 65, ../scss/main.scss */
.row {
  width: 70%;
  margin: 0 auto;
}

/* line 70, ../scss/main.scss */
.button {
  padding: 10px 20px;
  display: inline-block;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  text-shadow: 1px 1px 0px #FAFAFA;
  font-family: "omnes-pro", sans-serif;
  font-weight: 500;
  letter-spacing: 3px;
  border: 3px solid #33aa00;
  border-radius: 10px;
  background-color: #FFFFFF;
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

/* line 87, ../scss/main.scss */
.left {
  float: left;
}

/* line 91, ../scss/main.scss */
.right {
  float: right;
}

/* line 95, ../scss/main.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
